{include file='src/view/header.html'}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
<div class="col-md-8">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">LISTE DES USERS</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$users item=$user}
                    <tr  {if isset($idUser)}
                            {if $idUser == $user->getId()}
                                class="alert alert-warning"
                            {/if}
                        {/if}>
                        <td>{$user->getId()}</td>
                        <td>{$user->getPrenom()}</td>
                        <td>{$user->getNom()}</td>
                        <td>{$user->getEmail()}</td>
                        <td><a href="{$url_base}UserRoles/affectation/{$user->getId()}"></a>
                        
                            <a href="{$url_base}UserRoles/affectation/{$user->getId()}" class="btn btn-success btn-circle btn-xs">
                                <i class="fas fa-check"></i>
                              </a>

                        </td>
                    </tr>
                {/foreach}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<div class="col-md-4">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">AFFECTATION</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Libelle du role</th>
                    <th>Affectation</th>
                </tr>
            </thead>
            <tbody>
                <form method="post" action="{$url_base}UserRoles/affecter">
                    {foreach from=$roles item=role}

                            <tr>
                                <td>{$role->getNom()}</td>
                                <td>
                                    <input type="hidden" name="idUser" {if isset($idUser)} value="{$idUser}" {/if} />
                                    <input type="checkbox"
                                           {if isset($usersroles)}
                                                {$role->chercherRole($usersroles, $role->getNom())}
                                           {/if}
                                    name="roles[]" value="{$role->getNom()}"/></td>
                            </tr>
                    {/foreach}
                    {if isset($usersroles)}
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Attribuer roles</span>
                                  </button>
                            </td>
                        </tr>
                        {/if}
                    </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</div>


  </div>
  <!-- /.container-fluid -->
  {include file='src/view/footer.html'}





















