</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Ges-User 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Déconnexion en cours ...</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Voulez-vous quitter ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="{$url_base}Login/logout">Quitter</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{$url_base}public/template/vendor/jquery/jquery.min.js"></script>
<script src="{$url_base}public/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{$url_base}public/template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{$url_base}public/template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="{$url_base}public/template/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="{$url_base}public/template/js/demo/chart-area-demo.js"></script>
<script src="{$url_base}public/template/js/demo/chart-pie-demo.js"></script>

<script src="{$url_base}public/template/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="{$url_base}public/template/vendor/datatables/dataTables.bootstrap4.min.js"></script>
 
  <!-- Page level custom scripts -->
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
  <script src="{$url_base}public/template/js/demo/datatables-demo.js"></script>


  <script>
    $(document).ready(function() {
        load_chefs_village();
        load_villages();
        load_clients();
        //CRUD CLIENT
        $('#client_form').on('submit', function(event) {
            event.preventDefault();
            if ($('#action').val() == 'Add') {
                $.ajax({
                    url: "{$url_base}Client/add",
                    method: "post",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function(strMessage) {
                        $('#message').text(strMessage);
                        $('#modalClient').modal('hide');
                        $('#client_form')[0].reset();
                        load_clients();
                    },
                    error: function() {
                        $('#message').text(strMessage);
                    }
                });
            }
            if ($('#action').val() == 'Edit') {
                $.ajax({
                    url: "{$url_base}Client/Update",
                    data: $('form').serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        $('#message').text(result);
                        $('#modalClient').modal('hide');
                        load_clients();
                    },
                });
            }
        });
        $(document).on('click', '.edit-client', function() {
            var id = $(this).attr('id');
            $.ajax({
                url: "{$url_base}Client/edit/" + id,
                method: "POST",
                dataType: "json",
                success: function(data) {
                    $('#modalClient').modal('show');
                    $('#village_id').val(data.village);
                    $('#nom_famille').val(data.nom_famille);
                    $('#telephone_abonne').val(data.telephone_abonne);
                    $('#id').val(data.id);
                    $('#action').val("Edit");
                    $('.modal-title').html("Modification d'un client");
                }
            });
        });
        
        $(document).on('click', '.delete-client', function() {
            var id = $(this).attr("id");
            if (confirm("Etes vous sure de vouloir supprimer ?")) {
                $.ajax({
                    url: "{$url_base}Client/delete/" + id,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $('#message').text(data);
                        load_clients();
                    }
                });
            }
        });

        //CRUD VILLAGE
        $('#village_form').on('submit', function(event) {
            event.preventDefault();
            if ($('#action').val() == 'Add') {
                $.ajax({
                    url: "{$url_base}Village/add",
                    method: "post",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function(strMessage) {
                        $('#message').text(strMessage);
                        $('#modalVillage').modal('hide');
                        $('#village_form')[0].reset();
                        load_villages();
                    },
                    error: function() {
                        $('#message').text(strMessage);
                    }
                });
            }
            if ($('#action').val() == 'Edit') {
                $.ajax({
                    url: "{$url_base}Village/Update",
                    data: $('form').serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        $('#message').text(result);
                        $('#modalVillage').modal('hide');
                        load_villages();
                    },
                });
            }
        });
        $(document).on('click', '.edit-village', function() {
            var id = $(this).attr('id');
            $.ajax({
                url: "{$url_base}Village/edit/" + id,
                method: "POST",
                dataType: "json",
                success: function(data) {
                    $('#modalVillage').modal('show');
                    $('#identifiant_village').val(data.identifiant_village);
                    $('#nom_village').val(data.nom_village);
                    $('#id').val(data.id);
                    $('#action').val("Edit");
                    $('.modal-title').html("Modification d'un village");
                }
            });
        });
        
        $(document).on('click', '.delete-village', function() {
            var id = $(this).attr("id");
            if (confirm("Etes vous sure de vouloir supprimer ?")) {
                $.ajax({
                    url: "{$url_base}Village/delete/" + id,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $('#message').text(data);
                        load_villages();
                    }
                });
            }
        });

        //CRUD CHEF DE VILLAGE
        $('#chefs_village_form').on('submit', function(event) {
            event.preventDefault();
            if ($('#action').val() == 'Add') {
                $.ajax({
                    url: "{$url_base}Chef_village/add",
                    method: "post",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function(strMessage) {
                        $('#message').text(strMessage);
                        $('#modalChef_Village').modal('hide');
                        $('#chefs_village_form')[0].reset();
                        load_chefs_village();
                    },
                    error: function() {
                        $('#message').text(strMessage);
                    }
                });
            }
            if ($('#action').val() == 'Edit') {
                $.ajax({
                    url: "{$url_base}Chef_village/Update",
                    data: $('form').serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        $('#message').text(result);
                        $('#modalChef_Village').modal('hide');
                        load_chefs_village();
                    },
                });
            }
        });
        $(document).on('click', '.edit-chef_village', function() {
            var id = $(this).attr('id');
            $.ajax({
                url: "{$url_base}Chef_village/edit/" + id,
                method: "POST",
                dataType: "json",
                success: function(data) {
                    $('#modalChef_Village').modal('show');
                    $('#identifiant_village').val(data.identifiant_village);
                    $('#nom_village').val(data.nom_village);
                    $('#id').val(data.id);
                    $('#action').val("Edit");
                    $('.modal-title').html("Modification d'un chef de village");
                }
            });
        });
        
        $(document).on('click', '.delete-chef_village', function() {
            var id = $(this).attr("id");
            if (confirm("Etes vous sure de vouloir supprimer ?")) {
                $.ajax({
                    url: "{$url_base}Village/delete/" + id,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $('#message').text(data);
                        load_chefs_village();
                    }
                });
            }
        });


    });


    

    //Fonction de chargement des chefs de village
    function load_chefs_village() {
        $.ajax({
            url: "{$url_base}Chef_village/load_chefs_villages",
            dataType: "json",
            success: function(result) {
                $('#result-chefs_village').html(result);
            }
        });
    }
    //Fonction de chargement des villages
    function load_villages() {
            $.ajax({
                url: "{$url_base}Village/load_villages",
                dataType: "json",
                success: function(result) {
                    $('#result-villages').html(result);
                }
        });
    }
    //Fonction de chargement des clients
    function load_clients() {
        $.ajax({
            url: "{$url_base}Client/load_clients",
            dataType: "json",
            success: function(result) {
                $('#result-clients').html(result);
            }
        });
    }
  </script>
</body>
</html>

